form {margin: 10px}

label {color:grey;
       opacity:0.6}

input {margin-top:10px}

.fa {font-size:30px;
     color:midnightblue;
     display:inline-block;
     margin:5px}

button .item-button{margin-bottom:3px;
                    background-color: rgba(128,128,128,0.3);
                    color:white;}


div.result-button {padding-left: 4px;
                   padding-right: 4px;
                  }


button.cluster-button {
                background-color: rgba(214,233,198,0.7);
                padding-left: 4px;
                padding-right: 4px;
                border: 0px;
                color: black
                }

button.job-button {
              padding-left: 4px;
              padding-right: 4px;
              background:grey;
              border: 0px;
              color: black;
              }

.icons {display:inline-block;
        padding: 0px;}

div.jumbotron {margin-top: 10px;}