form {margin: 10px}

label {color:grey;
       opacity:0.6}

input {margin-top:10px}

.fa {font-size:30px;
     color:midnightblue;
     margin:5px}

button .btn .btn-xs{margin-bottom:3px;
                    background:grey;
                    opacity:0.5;
                    color:white}


.item-button {


            }


.cluster-button {background-color: rgba(0,1,1,0.1);
                opacity: 1;
                border: 0px;
                color: black}

.job-button {background-color: rgba(0,1,1,0.3);
              opcacity: 1;
              border: 0px;
              color: white;
              }
